<div class="grid">
	<div ng-click="addBack()">
		<div class="image" style="background-image: url('assets/img/design/back.svg');"></div>
		<div class="count">{{ lamps.back }}</div>
	</div>
	<div ng-click="addFront()">
		<div class="image" style="background-image: url('assets/img/design/front.svg');"></div>
		<div class="count">{{ lamps.front }}</div>
	</div>
	<div ng-click="addBoth()">
		<div class="image" style="background-image: url('assets/img/design/both.svg');"></div>
		<div class="count">{{ lamps.both }}</div>
	</div>
	<div ng-click="addNone()">
		<div class="image" style="background-image: url('assets/img/design/none.svg');"></div>
		<div class="count">{{ lamps.none }}</div>
	</div>
</div>